.container{
    height: 300px;
    width: 80vw;
    margin: 50px auto;
    border: 2px solid dodgerblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
}
.box{
    border: 4px double palevioletred;
    width: 100px;
    box-shadow: 0px 0px 8px pink inset;
    text-align: center;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
.box:hover{
    box-shadow: 0px 0px 8px red;
    background-color: rgba(255, 192, 203, 0.397);
}
.box a{
    text-decoration: none;
    color: palevioletred;
}